@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col-md-6">
        <p class="header">Welkom bij Bon Temps</p>
        <p>Bon Temps biedt plaats voor 50 personen per filiaal.</p>
        <ul>
            <li>Alkmaar</li>
            <li>Den Helder</li>
            <li>Hoorn</li>
            <li>Schagen</li>
            <li>Zaandam</li>
        </ul>
        <p>Bel naar 0612345678 om contact op te nemen met een medewerker van Bon Temps, die zal u helpen om te reserveren. U kunt reservern binnen 2 tijds blokken, 17:00-20:00 en/of 20:00-23:00.</p>
        </div>
    <div class="col-md-6">
        <img src="~/img/asterix.jpg" alt="Asterix & Obelix" />
    </div>
    </div>
